@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "IBM Plex Mono", sans-serif;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 500;
    line-height: 1.3em;
    margin: 0;
    padding: 0;
    background: #fef4ff;
    color: #2c2c2a;
  }

h3 {
  font-size: 1em;
}

.page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px 16px;
  text-align: center;
}

.main-title {
  font-size: 1.75rem;
  margin-bottom: 40px;
  color: #333;
  font-weight: 700;
}
