.technology-page {
    margin: 0 auto;
    padding: 20px;
    max-width: 85%;
    border: 20%;
    text-align: center;
    min-height: 100vh;
  }

  .technology-category {
    font-size: 1em;
  }
  
  .technology-category {
    margin-bottom: 40px;
  }
  
  .technology-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .technology-item {
    display: flex;
    align-items: center;
    margin: 10px;
  }
  
  .technology-logo, .technology-item svg {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }