@import '~font-awesome/css/font-awesome.min.css';

.footer {
    margin-top: 25px;
    background-color: #2c2c2a;
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .social-links {
    margin-bottom: 10px;
  }
    
  .social-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
  }
  
  footer p {
    font-size: 0.9em;
    margin: 10px 0;
  }
  
@media (max-width: 768px) {
    footer p {
      font-size: 0.9em;
    }
  }
  