/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&family=Shrikhand&display=swap'); */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 5%;
  background-color: #fef4ff;
  color: #2c2c2a;
  min-height: 10vh;
  position: relative;
  z-index: 1000; /* Garante que o header esteja acima de outros elementos */
}

.logo {
  display: flex;
  align-items: center;
}

.logo a {
  font-size: 1em;
  color: #2c2c2a;
  text-decoration: none;
  position: relative;
}

.logo-img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.menu {
  display: flex;
  list-style: none;
}

.menu ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 0 10px;
  list-style: none;
}

.menu a {
  color: #2c2c2a;
  text-decoration: none;
  font-size: 1em;
  position: relative;
  transition: all 0.3s ease;
}

.menu a:hover {
  color: #0002cb; /* Muda a cor do link para azul */
}

.menu a::after {
  content: '';
  position: absolute;
  bottom: 0px; /* Ajusta a posição para colocar a linha abaixo do texto */
  left: 0;
  width: 0;
  height: 3px;
  background-color: #0002cb; /* Azul que aparecerá quando o link for hover */
  transition: width 0.3s ease;
}

.menu a:hover::after {
  width: 100%; /* Quando o link for hover, a linha azul se expande para o tamanho do link */
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #2c2c2a;
  margin: 4px 0;
}

@media (max-width: 1000px) {
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #fde8ff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1001; /* Garante que o menu esteja acima de outros elementos */
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .menu.open {
    display: flex;
    opacity: 1;
    transform: translateY(0);
  }

  .menu ul {
    flex-direction: column;
    width: 100%;
  }

  .menu li {
    margin: 5px 18px;
    text-align: left;
    list-style: none;
  }

  .menu a {
    color: #2c2c2a;
    padding: 2px 2px;
    display: block;
  }

  .menu-toggle {
    display: flex;
  }
}