.container {
    display: flex;
    justify-content: center; 
    align-items: center;      
    min-height: 87vh;   
    padding: 0px;       
}

.retangulo {
    margin: 0px;
    background-color: white;
    width: 75%;
    padding: 0px 15px;
    border: 2px blue solid;
    box-shadow: 8px 8px 0px blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conteudo-texto{
    width: 50%;
    margin: 30px;
    text-align: left;
} 

.conteudo-texto p {
    font-size: 1em;
}

.conteudo-img {
    width: 35%;
    margin: 25px;
}

.conteudo-img img {
    width: 100%;           
    height: auto;          
    max-width: 400px;      
}

.conteudo-texto a {
  font-size: 1em;
  font-weight: 600;
  margin-top: 20px;
  text-decoration: underline;
  color: #2c2c2a;
}

.conteudo-texto a:hover {
  color: #0002cb;
}

.conteudo-texto a::after {
  color: #2c2c2a;
}

@media (max-width: 1000px) {
    .retangulo {
        margin: 15px 10px;
        flex-direction: column;   
        align-items: center;    
    }

    .conteudo-texto, .conteudo-img {
        width: 80%; 
        margin-right: 0; 
    }

    .conteudo-img img {
        max-width: 100%;  
    }
}
