@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap');

.projects-container {
    padding: 0% 7%;
    text-align: center;
    min-height: 100vh;
    /* font-family: 'Segoe UI', sans-serif; */
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 220px;
    padding: 10px;
    background: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.project-card img {
    width: 100%;
    height: 80px;
    object-fit: contain;
}

.project-card:hover {
    transform: scale(1.05);
}

.learn-more-button {
    padding: 10px 20px;
    background-color: #3d3d3d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8em;
    margin-top: 10px;
    align-self: center;
}

.learn-more-button:hover {
    background-color: #000000;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001; /* Garante que o overlay esteja acima de outros elementos */
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-height: 90%;
    overflow-y: auto;
    max-width: 900px;
    text-align: left;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    word-wrap: break-word; /* Garante que o texto quebre se for muito grande */
    overflow-wrap: break-word; /* Garante que o texto quebre se for muito grande */
    z-index: 1002; /* Garante que o modal esteja acima do overlay */
    font-size: 0.8em;
}

.modal-content a {
    color: #007bff;
    text-decoration: underline;
    transition: color 0.3s;
}

.modal-content a:hover {
    color: #0056b3;
}

button {
    background: #2c2c2c;
    /* font-family: "IBM Plex Mono", serif; */
    /* font-family: 'Segoe UI', sans-serif; */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8em;
    transition: background 0.3s;
}

button:hover {
    background: #000000;
}

.filters-container {
    display: flex;
    justify-content: space-evenly;
}

.select-filter {
    width: 100%;
}

.demo-images {
    margin-top: 20px;
}

.demo-images img {
    max-width: 25%;
    margin: 10px;
}

@media (max-width: 768px) {
    .filters-container {
        flex-direction: column;
        align-items: center;
    }

    .select-filter {
        width: 100%;
        margin-bottom: 10px;
    }

    .modal-content {
        width: 80%;
        height: 90%; 
    }
}